<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
  </head>
  <body>
    <h1>Bookshelf</h1>
    <button>
      <a href = '/books/new'> Add a Book </a>
    </button>
    <%= yield %>
  </body>
</html>
